@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,800;0,900;1,100;1,300;1,600&display=swap');


body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #000000;
}
*{
  font-family: 'Montserrat';
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}
h1 {
  font-size: 38px;
  color: #000000;
  font-weight: 400;
}
.black-bg .logo {
  color: #ffffff;
}
.bg-color .header-content .header-user .user-btn:hover {
  opacity: 0.8;
}
.bg-color{
  box-shadow:rgb(220,220,220) 0 2px 10px;
  background-color:#fff;
}

.zones::-webkit-scrollbar,body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.zones::-webkit-scrollbar-track,body::-webkit-scrollbar-track  {
  background: #fff;
}
.zones::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb  {
  background-color: rgb(219, 219, 219);
  border-radius: 20px;
}